*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  line-height: 1;
  word-break: break-word;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "lato", sans-serif;
  background: #F7F7F7;
}


a {
  color: inherit;
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border: none;
  background: none;
}

input:focus,
button:focus {
    outline: unset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: none !important;
  color: inherit;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}


body {
  overflow-x:hidden!important;
  max-width:100vw;
}